.error-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.error-screen h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
}

.error-screen p {
  margin-top: 0.5rem;
  color: var(--text-color);
}

.error-screen .btn {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  font-size: 0.9rem;
}

.error-screen .btn:hover {
  background-color: var(--secundary-color);
  border-color: var(--secundary-color);
}
