.calendar-info {
  background-color: var(--white-color);
  border-radius: 10px;
  margin: 1rem 0;
  padding: 1rem;
  flex: 0 0 240px;
  width: 240px;
  display: flex;
  flex-direction: column;
  box-shadow: -6px 0 20px rgba(0, 0, 0, 0.05);
}

.calendar-info p {
  margin: 0;
}

.calendar-info .update-button {
  margin-top: auto;
  width: 100%;
  text-align: center;
}

.calendar-info .update-button button {
  width: 70%;
  text-align: center;
}

.calendar-info .day-info {
  width: 100%;
}

.calendar--hidden {
  display: none !important;
}
