p {
  margin: 0;
}

.homepage {
  min-height: calc(100vh - 140px);
}

.status {
  margin: 1rem;
  border-radius: 1.5rem;
  position: relative;
  overflow: hidden;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../../assets/homepage.png');
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  pointer-events: none;
  z-index: 0;
}

.status > * {
  position: relative;
  z-index: 1;
}

.home-status {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-status .text-status {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
}

.home-status .text-phase {
  font-size: 0.9rem;
  color: var(--label-color);
  background-color: var(--tags-content);
  border-radius: 1rem;
  border-color: var(--tags-content);
  padding: 0.5rem;
}

.home-status .text-cycle {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-bottom: 1.7rem;
}

.homepage-info {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 1rem;
}
