@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* Acciones Principales y Gráficos */
  --primary-color: #904958;
  --secondary-color: #e892a2;
  --tercendary-color: #f9d0d7;
  --accent-color: #fdf7f2;

  /*Botones*/
  --btn-primary-bg: #d58085;
  --btn-secondary-bg: #f1a5ab;

  /* Fondos */
  --bg-main-content: #fffbfa;
  --tags-content: #ffffff;

  --text-color: #34322f;
  --label-color: #716164;

  --tertiary-color: #f7e7d0;
  --neutral-color: #fdf8f5;

  --purple-color: #655984;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-main-content);
  --bs-body-bg: var(--bg-main-content);
}

h1,h2{
  font-family: "Plus Jakarta Sans", sans-serif;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main-content {
  margin-top: 60px;
  margin-bottom: 80px;
  padding-bottom: 6rem;
}


/* Gradient button styles */
.main-btn,
.btn,
.btn-primary,
.btn-outline-primary {
  background: linear-gradient(
    to left,
    var(--secondary-color),
    var(--primary-color)
  );
  border-color: transparent;
  color: white;
}

.main-btn:hover,
.btn:hover,
.btn-primary:hover,
.btn-outline-primary:hover {
  filter: brightness(1.1);
}
